@font-face {
    font-family: 'InterRegular';
    src: url('fonts/InterRegular.otf') format('opentype');
}

@font-face {
    font-family: 'InterBold';
    src: url('fonts/InterBold.otf') format('opentype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#preview-text {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2em;
}

#content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 915px) {
    #content {
        width: 900px;
    }
}

@media (max-width: 768px) {
    #content {
        padding: 20px;
        margin: 20px;
    }
}

@media (max-width: 480px) {
    #content {
        padding: 20px;
        margin: 10px;
    }
}

.article-custom * {
    font-family: InterRegular, sans-serif;
    font-weight: 300;
}

.article-custom h1 {
    font-family: InterBold, sans-serif;
}

.article-custom h2, h2 span, h3, h3 span, h4, h4 span {
    font-weight: normal;
    text-shadow: none !important;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.article-custom h2,h3,h4 {
    color: #6A6A6A;
}

.article-custom h2 {
    font-size: 21px;
}

.article-custom h3 {
    font-size: 18px;
}

.article-custom h4 {
    font-size: 16px;
}

.article-custom .wysiwyg-color-black {
    color: #000000;
}

.article-custom .wysiwyg-underline {
    text-decoration: underline;
}

    .article-custom .wysiwyg-underline {
    text-decoration: underline;
}

.article-custom a, a * {
    font-family: InterBold, sans-serif !important;
    color: black !important;
    text-decoration: underline !important;
}

.article-custom a:hover {
    color: black !important;
    text-decoration: none !important;
}

.article-custom strong, .article-custom strong span {
    font-family: InterBold, sans-serif;
}

.article-custom .accordion__item-title strong {
    font-family: InterRegular, sans-serif;
}

.article-custom .callout--warning .callout__title {
    color: #FF9900;
}
